<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <xacro:include filename="uv_macros.xacro" />

    <xacro:laser_sensor n="1" z="0.0" lower_angle="0.15" upper_angle="1.41" />
    <xacro:laser_sensor n="2" z="0.3" lower_angle="1.03" upper_angle="1.36" />
    <xacro:laser_sensor n="3" z="0.6" lower_angle="1.26" upper_angle="1.26" />
    <xacro:laser_sensor n="4" z="0.9" lower_angle="1.36" upper_angle="1.03" />
    <xacro:laser_sensor n="5" z="1.2" lower_angle="1.41" upper_angle="0.15" />

    <!-- Pose ground truth publisher  -->
    <gazebo>
        <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
        <ros>
            <namespace>/odometry</namespace>
            <remapping>~/out:=ground_truth</remapping>
        </ros>
        <frame_name>map</frame_name>
        <body_name>base_link</body_name>
        <update_rate>1000.0</update_rate>
        </plugin>
    </gazebo>
</robot>
